
header{
    background-color: rgb(29, 29, 29);
}

body{

    background: url('img/wp.jpg')no-repeat;

    background-size: cover;
}
p{
    color: white;
}
.intro{
    color: hsl(0, 0%, 100%);
    font-size: 30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 60px;
    margin-right: 60px;
}
.bouton1{
    width: 10%;
    float: left;
    margin-left: 100px;
    transition: transform 0.3s ease-in-out;
}

.bouton1:hover{
    transform: scale(1.1);
}

.bouton2{
    width: 14%;
    float: right;
    margin-right: 100px;
    transition: transform 0.3s ease-in-out;
}

.bouton2:hover{
    transform: scale(1.1);
}

.espaceB{
    font-size: 500%;
}
.jr11{
    width: 270px;
    margin: 10px;
    display: block;
    margin: auto;
    margin-left: 60px;
    animation: moveLeftToRight 4s linear infinite;
}

@keyframes moveLeftToRight {
    0% {
        left: 0; /* Début de la translation à gauche */
        transform: rotate(-10deg); /* Rotation initiale de l'image */
    }
    50% {
        left: calc(100% - 200px); /* Milieu de la translation à droite */
        transform: rotate(10deg); /* Rotation de mi-parcours de l'image */
    }
    100% {
        left: 0; /* Fin de la translation à gauche */
        transform: rotate(-10deg); /* Rotation finale de l'image */
    }
}
.aprox{
    width: 300px;
    margin: 10px;
    display: block;
    margin: auto;
    margin-right: 80px;
    margin-top: 90px;
    animation: moveLeftToRight 4s linear infinite;
}

@keyframes moveLeftToRight {
    0% {
        left: 0; 
        transform: rotate(-10deg);
    }
    50% {
        left: calc(100% - 200px); 
        transform: rotate(10deg); 
    }
    100% {
        left: 0; 
        transform: rotate(-10deg); 
    }
}

.connex{
    justify-content: center;
    display: flex;
}
.imgind{
    justify-content: space-between;
    display: flex;
}
.boutind{
    justify-content: space-between;
    display: flex;
    width: auto;
}
.produit {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    animation: encadre 2s linear infinite;
    margin-left: 15px;
}

@keyframes encadre {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    50% {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
}

.bouton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0a0b0c5b;
    color: white;
    border: 2px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.bouton:hover {
    background-color: #3e4447;
    border-color: orange;
}

.conteneur-boutons {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.bouton-sponsors {
    position: fixed;
    top: 130px;
    right: 20px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid orange;
    transition: background-color 0.3s, color 0.3s;
    font-family: Arial, sans-serif;
}

.bouton-sponsors:hover {
    background-color: orange;
    color: white;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.bouton-sponsors:focus {
    outline: none;
    animation: pulse 1s infinite; 
}
.ProfilT{
    text-align: center;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
}
.ProfilTXT{
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.lien{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.lien:hover{
    color: rgb(255, 187, 1);
}

a:link 
{ 
 text-decoration:none; 
} 

.tableau_evenement{
    color: white;
    text-align: justify;
    margin-top: 50px;
    margin-left: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
}

.footer {
    background-color: #33333379; 
    color: #ffffff; 
    text-align: center;
    padding: 20px 0; 
    position: fixed; 
    left: 0;
    bottom: 0;
    width: 100%; 
  }

  footer a {
    color: rgb(255, 145, 0);
    text-decoration: none; 
    transition: transform 0.3s;
}

footer a:active {
    transform: scale(0.95); 
}

footer a:focus {
    outline: none; 
    box-shadow: 0 0 3px rgba(245, 147, 0, 0.5); 
}

footer a:hover {
    transform: scale(1.1);
    color: rgb(255, 230, 0); 
    
}

.mentions {
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white
}
.imgtaille{
    width: 200px;
}

.logoprofil {
    position: absolute;
    top: 35px; /* Ajuste la position verticale (à partir du haut) */
    right: 35px; /* Ajuste la position horizontale (à partir de la droite) */
    width: 100px; /* Ajuste la largeur de l'image */
    height: auto; /* Garde le ratio hauteur/largeur de l'image */
    width: 50px;
}